<% content_for :head do %>
  <h1>Node-Register</h1>
<% end %>

<h2> Node-Registrierung bearbeiten </h2>
Hier kannst Du Deine Registrierung bearbeiten. Du brauchst nur die Daten anzugeben, die Du wirklich angeben willst. <br />
Die Registrierung Deines Nodes erlaubt es uns, Dich bei Problemen zu verständigen. Gleichzeitig hilft sie Nutzern, einen Zugang zum Netz zu finden.

<p />
<%= render 'form' %>

<%= link_to 'Registrierung löschen', @registration, method: :delete, data: { 
		confirm: 'Registrierung wird gelöscht.' 
	} unless read_only_object(@registration) %>

