<% content_for (:head) do%>
<h1>Nodes</h1>
<% end %>

<h2>Registrierte Nodes</h2>
Diese Nodes sind bei Freifunk-KBU registriert.
<%= render :partial => 'shared/registered_nodes', :object => @registered   %>


<h2>Unregistrierte Nodes</h2>
Diese Nodes sind nicht registriert.
<%= render :partial => 'shared/regable_nodes', :object =>  @unregistered %>
