<p>Hallo <%= @resource.email %>,</p>

<p>Irgendjemand möchte Dein Freifunk-KBU-Passwort ändern. Falls Du ein neues Kennwort setzen willst, rufe folgenden Link auf.</p>

<p><%= link_to 'Kennwort ändern', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Falls Du Dein Kennwort nicht ändern möchtest, lösche diese E-Mail einfach.</p>
<p>Dein Kennwort wird nicht geändert, wenn der Link nicht aufgerufen wird.</p>

<p>
Gruß, das Freifunk-KBU-Team
</p>